<section class="todo" [ngClass]="{'padding-offset': isNavbarOpen}">
    <p>todo works!</p>

    <form class="form" [formGroup]="signupForm">
        <h1>Reactive Form</h1>
        <input type="text" placeholder="Username" formControlName="username"/>
        <span class="form__warning" *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched">Please enter valid username</span>
        
        <input type="email" placeholder="Email" formControlName="email"/>
        <span class="form__warning" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">Please enter valid email</span>
        <input type="number" placeholder="Your age" formControlName="age">
        <span class="form__warning" *ngIf="!signupForm.get('age').valid && signupForm.get('age').touched">You have to be over 18 years old to Register</span>
        <button type="submit" (click)="onSignupFormSubmit()">Sign up</button>
    </form>

    <form class="form" [formGroup]="todoForm">
        <div class="form__row">
            <input type="text" placeholder="Todo description" formControlName="description"/>
            <button type="submit" (click)="onTodoFormSubmit()" [disabled]="!todoForm.valid">Add todo</button>
        </div>
        <span class="form__warning" *ngIf="!todoForm.get('description').valid && todoForm.get('description').touched">Add description for your todo</span>
    </form>
    
    <ul class="todo__list">
        <li class="todo__item" *ngFor="let todoItem of todoListData; let i = index;">
            <h5>{{todoItem.description | uppercase}}</h5>
            <span>{{todoItem.date | date: 'dd/MM/yy'}}</span>
            <button (click)="onDeleteClick(i)">Delete</button>
        </li>
    </ul>
</section>