.todo {
    padding-left: 70px;
    width: 100%;
    transition: padding-left 500ms ease-in-out;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    h5 {
        max-width: 50%;
        word-wrap: break-word;
    }

    input {
        border: 1px solid #666;
    }

    &__list {
        max-width: 320px;
    }

    &__item {
        border: 1px solid #888;
        border-radius: 3px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // margin: 0 auto;
    min-width: 320px;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 3px;
    margin-bottom: 20px;

    h1 {
        margin-bottom: 20px;
    }

    input {
        width: 100%;
        margin-bottom: 10px;
        padding: 0 10px;
    }

    input.ng-invalid.ng-touched {
        border: 1px solid #f00;
        margin-bottom: 0;
    }

    button {
        padding: 2px 15px;
    }

    span {
        padding: 5px 0 10px 10px;
        display: block;
        width: 100%;
    }

    &__warning {
        color: #f00;
    }

    &__row {
        display: flex;
        
        input {
            margin-bottom: 0;
            display: block;
            width: 100%;
        }
    }
}

.padding-offset {
    padding-left: 240px;
}
