<nav class="nav" [ngClass]="{'nav--hidden': !isOpen}">
    <div>
        <button (click)="onButtonClick()">
            <span *ngIf="isOpen; else open">Hide</span>
            <ng-template #open>Open</ng-template>
            
        </button>
    </div>
    <ul class="nav__list">
        <li class="nav__item">
            <a class="nav__link" routerLink="/">Dashboard</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" routerLink="/todo">Todo</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" routerLink="/api">Api</a>
        </li>
    </ul>

    <!-- <ol>
        <li>
            <a routerLink="/">Dashboard</a>
        </li>
        <li>
            <a routerLink="/todo">Todo</a>
        </li>
    </ol> -->
</nav>
