.nav {
    position: fixed;
    text-align: right;
    height: 100vh;
    width: 200px;
    transform: translateX(0);
    background-color: #222;
    transition: transform 500ms ease-in-out;
    // ease-in-out to jest funkcja wygładzająca przejście animacji

    button {
        height: 50px;
        width: 50px;
        background-color: #fff;
    }

    &__list {
        text-align: left;
    }

    &__link {
        color: #fff;
    }
}

.nav--hidden {
    // left: -150px;
    transform: translateX(-150px);
}
