<!-- <div class="div">Jestem divem</div>
<div class="div">Jestem divem</div>
<div class="div">Jestem divem</div>
<div class="div">Jestem divem</div>
<div class="div">Jestem divem</div>


<a class="a">Jestem inlinem</a>
<a class="a">Jestem inlinem</a>
<a class="a">Jestem inlinem</a>
<a class="a">Jestem inlinem</a>
<a class="a">Jestem inlinem</a> -->
<!-- dopisać dyrektywę ngClass -->
<section class="dashboard" [ngClass]="{'padding-offset': isVisible}">
    <input type="text" [(ngModel)]="name">
    <button (click)="onSubmit()">Add</button>
    {{name}}
    
    <!-- <app-dashboard-item *ngFor="let item of namesArray"></app-dashboard-item> -->

    <ul>
        <li *ngFor="let item of namesArray; let i = index;">
            <app-dashboard-item [itemName]="item"></app-dashboard-item>
            <button (click)="onDeleteItem(i)">Delete {{i}}</button>
        </li>
    </ul>
    <div class="animation">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>

    <!-- <h2 *ngFor="let item of namesArray">{{item}}</h2> -->

    <!-- <div>Nigdy nie miej tekstu w divie</div>
    <h1></h1>
    <article>
        <p>fasdfasdf</p>
        <p>fasdfasdf</p>
    </article>
    
    <h1 [ngClass]="{'highlight': isVisible}">Dashboard</h1>
    <p *ngIf="isVisible">Jestem widoczny</p>
    <button (click)="onButtonClick()">Click me</button> -->
</section>

