.dashboard {
    padding-left: 70px;
    text-align: center;
    transition: padding-left 500ms ease-in-out;
}

// dodaję nową klasę
.padding-offset {
    padding-left: 240px;
}

.div {
    height: 60px;
    width: 200px;
    border: 1px solid #333;
}

.a {
    display: inline-block;
    height: 60px;
    width: 200px;
    border: 1px solid #333;
}

.highlight {
    color: darkgoldenrod;
}

.animation {
   width: 100%; 
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.box {
    background-color: darkslateblue;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    // will-change dodajemy aby poinformować przeglądarkę, która właściwość CSS'owa będzie animowana
    // poprawia to wydajność animacji
    will-change: transform;
    transform: translateX(-200%);
    animation: wobble 1400ms ease-in-out infinite forwards;
}
// .box:nth-child(1) {
//     animation-delay: 100ms;
// }

// .box:nth-child(2) {
//     animation-delay: 200ms;
// }

// .box:nth-child(3) {
//     animation-delay: 300ms;
// }

// .box:nth-child(4) {
//     animation-delay: 400ms;
// }

// .box:nth-child(5) {
//     animation-delay: 500ms;
// }

// .box:nth-child(6) {
//     animation-delay: 600ms;
// }

@for $i from 1 through 12 {
    .box:nth-child(#{$i}) {
        animation-delay: $i * 100ms;
    }
}

@keyframes wobble {
    0% {
        transform: translateX(-200%);
    }

    50% {
        transform: translateX(200%);
    }   
    
    100% {
        transform: translateX(-200%);
    }
}