.api {
    padding: 0 0 0 70px;
    transition: padding-left 500ms ease-in-out;
}

.user {
    &__item {
        display: flex;
    }
}

.datails {
    display: flex;
    flex-direction: column;
}

.padding-offset {
    padding-left: 240px;
}