<section class="api" [ngClass]="{'padding-offset': isNavbarOpen}">
    <p>api works!</p>
    <button (click)="onSendRequest()">Send request</button>
    <hr/>

    <ul class="user__list">
        <!-- W przyszłości li warto zamienić na komponent UserItem -->
        <li class="user__item" *ngFor="let user of apiData.data">
            <img class="user__img" [src]="user.avatar" alt="avatar"/>
            <div class="user__datails">
                <h2>{{user.first_name}}</h2>
                <h4>{{user.last_name}}</h4>
                <span>{{user.email}}</span>
            </div>
        </li>
    </ul>
</section>

