<!-- <a routerLink="/">Home</a>
<a routerLink="/dashboard">Dashboard</a> -->
<!-- miejsce wyrendrowania komponentu -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-my-own></app-my-own>
<app-my-first-component></app-my-first-component> -->
<header class="bleble"></header>
<main class="web-application">
    <app-side-nav></app-side-nav>
    <router-outlet></router-outlet>
</main>
<footer></footer>