<p>my-first-component works!</p>
<h1>Witaj świecieeeeeeee</h1>
{{myName}}
<button (click)="onButtonClick()">Click Me!</button>

<p *ngFor="let item of basicArray">{{item}}</p>
<p *ngIf="isVisible">Jestem Widoczny</p>